.multimenu-bigdrop-container {
    width: 100%;
    margin: 0 auto;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}


.multimenu-bigdrop-container nav {
    position: relative;
    min-height: 3.571em;
    margin-bottom: 0;
    border: 1px solid transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    padding: 0;

}

.multimenu-bigdrop div.container-fluid .navbar {
    margin: 0 auto;
    width: 90%;
    list-style: none;
    padding: 0;
    float: left;
    position: relative;
    /* IF .multimenu-bigdrop position=relative -> ul = container width, ELSE ul = 100% width */
    box-sizing: border-box;
    text-align: center;
    
}

.multimenu-bigdrop div.container-fluid .navbar::before,
.multimenu-bigdrop div.container-fluid .navbar::after {
    content: "";
    display: table;
}

.multimenu-bigdrop .navbar-brand {
    color: #fff;
    float: left;
    min-height: 60px;
    padding: 10px;
    font-size: 18px;
    line-height: 49px;
}

.multimenu-bigdrop div.container-fluid .navbar::after {
    clear: both;
}

.multimenu-bigdrop div.container-fluid .navbar>li {
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: bottom;

}

.multimenu-bigdrop ul li a {
    text-decoration: none;
    padding: 1.5em 3em;
    display: inline-flex;
    vertical-align: middle;
}

.multimenu-bigdrop ul li:hover,
.multimenu-bigdrop ul li.active {
    background: #e60101;
}

.multimenu-bigdrop-container,
.multimenu-bigdrop-container nav,
.multimenu-bigdrop .bigdrop-sub,
.multimenu-bigdrop .normal-sub,
.multimenu-bigdrop .infinite-sub,
.bigdrop-sub>li:hover,
.bigdrop-mobile {
    background: #b31313 !important;
    /* background: #b31313 */
}

.multimenu-bigdrop ul li a,
.multimenu-bigdrop div.container-fluid .navbar>li>ul>li a,
.multimenu-bigdrop div.container-fluid .navbar>li.has-children>a:first-child::after,
.multimenu-bigdrop div.container-fluid .navbar>li>ul>li.has-children>a:first-child::after,
.multimenu-bigdrop .bigdrop-sub li ul li.has-children>a:first-child::before,
.multimenu-bigdrop .infinite-sub li a {
    color: #fff;
}

.multimenu-bigdrop li.active>a {
    color: #fff !important;
}

.multimenu-bigdrop div.container-fluid .navbar>li:hover {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.multimenu-bigdrop ul li.active {

    text-shadow: 0px 1px 0px rgb(86, 86, 86);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.multimenu-bigdrop ul li:hover a {
    color: #ffffff;
    text-shadow: 0px 1px 0px rgb(86, 86, 86);
}

.multimenu-bigdrop div.container-fluid .navbar>li>ul {
    display: none;
    opacity: 0;
    position: absolute;
    text-align: left;

}



.multimenu-bigdrop div.container-fluid .navbar>li>ul::after {
    clear: both;
}

.multimenu-bigdrop div.container-fluid .navbar>li>ul>li {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    /* background: none; */
}

.multimenu-bigdrop div.container-fluid .navbar>li>ul>li a {
    padding: 1em 0.3em;
    width: 100%;
    display: inline-flex;
    border-bottom: 1px solid #ccc;
}

.multimenu-bigdrop div.container-fluid .navbar>li>ul>li>ul {
    display: block;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    box-sizing: border-box;
    width: 100%;
    /* min-height: 500px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden; */
}


.multimenu-bigdrop div.container-fluid .navbar>li>ul>li>ul::after {
    clear: both;
}

.multimenu-bigdrop div.container-fluid .navbar>li>ul>li>ul>li {
    width: 100%;
    margin: 0;
    font-size: 1em;
    position: relative;
}

.multimenu-bigdrop div.container-fluid .navbar>li>ul>li>ul>li a {
    border: 0;
}

.normal-sub,
.infinite-sub {
    width: 300px;
    left: auto;
    padding: 0.625em 0px;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    /* background: #2196F3; */
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.normal-sub>li,
.infinite-sub li {
    width: 100%;
}

.normal-sub>li a,
.infinite-sub li a {
    border: 0 !important;
    padding: 1em !important;
    display: block;
}

/* .bigdrop-sub>li:hover {
    background: #2196F3 !important;
} */

/* .bigdrop-sub a.waves-effect:hover {
    color: #000000;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.49);
} */

.multimenu-bigdrop ul li:hover ul.bigdrop-sub li {
    /* display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap; */
    justify-content: left;
}

.multimenu-bigdrop-container .visible {
    opacity: 1 !important;
    display: flex !important;
    flex-wrap: wrap;
}


ul.edge-right {
    left: auto !important;
    right: 100% !important;
}

@media only screen and (min-width: 1201px) {
    .multimenu-bigdrop .bigdrop-sub {
        width: 100%;
        padding: 20px;
        z-index: 99;
        left: 0;
        margin: 0;
        list-style: none;
        box-sizing: border-box;
        border: 1px solid rgba(0, 0, 0, 0.15);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
        /* height: calc(100vh - 200px); */
    }

    .multimenu-bigdrop .bigdrop-sub>li {
        width: 18%;
    }

    .multimenu-bigdrop div.container-fluid .navbar>li.has-children>a:first-child::after {
        content: "\f104";
        font-family: "Ionicons";
        font-size: 1.5rem;
        padding: 0;
        position: relative;
        margin-left: 10px;
        /* color: #fff; */
    }

    .multimenu-bigdrop div.container-fluid .navbar>li>ul>li.has-children>a:first-child::after {
        content: "\f104";
        font-family: "Ionicons";
        font-size: 1.5rem;
        padding: 0;
        position: relative;
        margin-left: 10px;
        /* color: #fff; */
    }

    .multimenu-bigdrop .bigdrop-sub li ul li.has-children>a:first-child::before {
        content: "\f10a";
        font-family: "Ionicons";
        font-size: 1.5rem;
        padding: 0;
        position: relative;
        margin-right: 10px;
        /* color: #fff; */
    }

    .multimenu-bigdrop ul li:hover>ul {
        z-index: 99;
        list-style-type: none;
    }

    .multimenu-bigdrop ul li:hover ul[class="normal-sub"] {
        left: auto !important;
    }

    .infinite-sub {
        display: none;
        margin: -22px 0;
        left: 100%;
        padding: 0 !important;
        position: absolute;

    }

    .infinite-sub li a {
        /* color: #fff !important; */
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.79) !important;
    }

    .multimenu-bigdrop .navbar-collapse.collapse {
        display: block !important;
    }
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
  Mobile style's
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.bigdrop-mobile {
    display: none;
    padding: 20px;
    color: #fff;
}

.bigdrop-mobile::after {
    content: "\f394";
    font-family: "Ionicons";
    font-size: 2.5rem;
    padding: 0;
    float: right;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
    color: #fff;
}

@media only screen and (max-width: 1200px) {

    .multimenu-bigdrop .navbar-header {
        float: none;
    }

    .multimenu-bigdrop .navbar-left,
    .multimenu-bigdrop .navbar-right {
        float: none !important;
    }

    .multimenu-bigdrop .navbar-toggle {
        display: block;
    }

    .multimenu-bigdrop .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .multimenu-bigdrop .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .multimenu-bigdrop .navbar-collapse.collapse {
        display: none !important;
    }

    .multimenu-bigdrop .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .multimenu-bigdrop .navbar-nav>li {
        float: none;
    }

    .multimenu-bigdrop .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .multimenu-bigdrop .collapse.in {
        display: block !important;
    }

    .multimenu-bigdrop-container {
        width: 100% !important;
    }

    .multimenu-bigdrop div.container-fluid .navbar {
        display: none;
        width: 100% !important;
        margin: 0 !important;
    }

    .bigdrop-mobile {
        display: block !important;
        /* position: fixed; */
        left: 0;
        top: 0;
        padding: 1.428em;
        margin: 0;
        background: #f8f8f8;
        width: auto;
        cursor: pointer;
        z-index: 999999;
        color: #fff;
        min-height: 3.571em;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;
        /* -webkit-box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.3);
        -ms-box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.3);
        box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.3); */
    }


    .multimenu-bigdrop {
        position: relative;
        width: 100%;
        padding: 0;
        z-index: 99999;
        border: 0;
        /* top: 5.5em; */
    }

    .multimenu-bigdrop ul {
        text-align: left !important;
    }

    .multimenu-bigdrop div.container-fluid .navbar>li {
        width: 100%;
        float: none;
        display: block;
    }

    .multimenu-bigdrop div.container-fluid .navbar>li a {
        padding: 1.5em;
        width: 100%;
        display: block;
    }

    .multimenu-bigdrop div.container-fluid .navbar>li>ul {
        position: relative;
    }

    .multimenu-bigdrop div.container-fluid .navbar>li>ul.normal-sub {
        width: 100%;
    }

    .multimenu-bigdrop div.container-fluid .navbar>li>ul>li {
        float: none;
        width: 100%;
        margin-top: 20px;
    }

    .multimenu-bigdrop div.container-fluid .navbar>li>ul>li:first-child {
        margin: 0;
    }

    .multimenu-bigdrop div.container-fluid .navbar>li>ul>li>ul {
        position: relative !important;
    }

    .multimenu-bigdrop div.container-fluid .navbar>li>ul>li>ul>li {
        float: none;
    }

    .multimenu-bigdrop .show-on-mobile {
        display: block;
    }

    .multimenu-bigdrop .has-children>a:first-child::before {
        content: "\f10a";
        font-family: "Ionicons";
        font-size: 1.5rem;
        padding: 0;
        position: relative;
        margin-right: 10px;
        color: #fff;
    }

    .infinite-sub,
    .normal-sub {
        left: 0;
        position: relative;
        display: none;
        width: 100%;
        padding: 0.625em 0.750em;
    }

    .multimenu-bigdrop a,
    .multimenu-bigdrop a:hover,
    .multimenu-bigdrop a:focus,
    .multimenu-bigdrop a:active,
    .multimenu-bigdrop a:visited {
        color: #fff;
    }

}

@media (min-width: 768px){
    .multimenu-bigdrop-container .navbar-header {
        float: left;
    }
}
