.multimenu-dropup-container {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0;
    background: #E91E63;
    z-index: 99999;
    transition: all 0.5s;
}

.multimenu-dropup-container .multimenu-dropup {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 80%;
}


.multimenu-dropup-container .multimenu-dropup li {
    display: inline-block;
    position: relative;
}

.multimenu-dropup-container .multimenu-dropup li:hover {
    background: #fff;
    cursor: pointer;
}

.multimenu-dropup-container .multimenu-dropup a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 20px 40px;
    text-shadow: 1px 1px #000;
}

.multimenu-dropup-container .multimenu-dropup ul.sub-menu li a {
    color: #fff;
    padding: 10px;
    display: block;
}

/* .multimenu-dropup-container .multimenu-dropup li:hover a:hover{
    color: #E91E63 !important;
} */
.multimenu-dropup-container .multimenu-dropup li:hover>a {
    color: #E91E63 !important;
    text-shadow: 0px 1px #ffdae7;
}


.multimenu-dropup-container .multimenu-dropup>li ul.sub-menu {
    position: absolute;
    bottom: 1000px;
    left: auto;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 12px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(233, 30, 98, 0.72);
    -moz-box-shadow: 0px 1px 2px 0px rgba(233, 30, 98, 0.72);
    box-shadow: 0px 1px 2px 0px rgba(233, 30, 98, 0.72);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}

.multimenu-dropup-container .multimenu-dropup li:hover>ul.sub-menu:first-of-type {
    background: #E91E63;
    bottom: 65px;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
}

.multimenu-dropup-container .multimenu-dropup ul.sub-menu>li {
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.multimenu-dropup-container .multimenu-dropup ul.sub-menu li {
    display: block;

}

.multimenu-dropup-container .multimenu-dropup li>ul.sub-menu:first-of-type li ul {
    left: 100%;
    bottom: 0 !important;
}

.multimenu-dropup-container .multimenu-dropup .sub-menu li:last-child {
    border-top-right-radius: 12px;
    border-top-left-radius: 0px;
}


.multimenu-dropup-container li.active>a,
.multimenu-dropup-container li.active {
    background: #fff;
    color: #E91E63 !important;
    text-shadow: 0px 1px #ffdae7;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
  Mobile style's
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.dropup-mobile {
    display: none;
    padding: 1.5em;
    color: #fff;
}

.dropup-mobile:after {
    content: "\f394";
    font-family: "Ionicons";
    font-size: 2.5rem;
    padding: 0;
    float: right;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
    color: #000;
}

@media only screen and (max-width: 959px) {
    .multimenu-dropup-container {
        width: 100% !important;
        position: absolute;
        bottom: auto;
        background: #E91E63;
        top: 0;
        
    }

    .multimenu-dropup-container ul {
        /* transform: rotate(180deg); */
        background: #E91E63;
        width: 100% !important;
        display: none;
    }

    .dropup-mobile {
        display: block !important;
        position: fixed;
        left: 0;
        bottom: 0;
        padding: 0.6416em;
        background: #f8f8f8;
        width: 100%;
        top: auto;
        cursor: pointer;
        z-index: 999999;
        color: #000;
    }

    .multimenu-dropup {
        display: none !important;
    }

    .multimenu-dropup ul {
        display: none;

    }

    .dropup>ul>li {
        width: 100%;
        float: none;
        display: block;
        /* transform: rotate(-180deg) */
    }

    .dropup>ul>li a {
        padding: 1.5em;
        width: 100%;
        display: block;
        padding: 1em 0.55em !important;
    }

    .dropup>ul>li>ul {
        position: relative;
        background: #E91E63;
    }


    .dropup>ul>li>ul li {
        float: none;
        width: 100%;
        margin-top: 1.250em;
        /* transform: rotate(-180deg) */
    }

    .dropup>ul>li>ul>li:first-child {
        margin: 0;
    }

    .dropup>ul>li>ul>li>ul {
        position: relative !important;
    }

    .dropup>ul>li>ul>li>ul>li {
        float: none;
    }

    .multimenu-dropup-container .show-on-mobile {
        /* display: flex !important; */
        display: block !important;
        position: relative;
        bottom: 0;
        top: auto;
        /* transform: rotate(180deg); */
        /* flex-flow: column-reverse; */
    }


    .multimenu-dropup-container li:hover>a {
        background: #fff;
        color: #E91E63 !important;
        text-shadow: 0px 1px #ffdae7;
    }

    .has-children>a:first-child:before {
        content: "\f10a";
        font-family: "Ionicons";
        font-size: 1.5rem;
        padding: 0;
        position: relative;
        margin-right: 10px;
        color: #fff;
    }

    .active.has-children>a:first-child:before,
    .has-children:hover>a:first-child:before {
        color: #E91E63 !important;
    }

    /* .active>ul{
        display: block;
    } */
    a,
    a:focus,
    a:active,
    a:visited {
        color: #000;
    }

}