body {
    line-height: 1.42857143 !important;
}

.multimenu-dropup-container .navbar {
    min-height: 50px;
    display: block;
    padding: 0;
}

.multimenu-dropup-container .navbar-brand {
    float: left;
    height: 50px;
    font-size: 18px;
}

.multimenu-dropup>li.has-children>a:first-child::before {
    content: "\f10d";
    font-family: "Ionicons";
    font-size: inherit;
    padding: 0;
    position: relative;
    margin-right: 10px;
}

.dropup-mobile::after {
    font-size: inherit;
    padding: 0;
    float: none;
    top: 0;
}

.multimenu-dropup-container .multimenu-dropup li:hover>ul.sub-menu:first-of-type {
    bottom: 68px;
}

@media (min-width: 1201px) {
    .multimenu-dropup-container .navbar-collapse {
        display: block;
        flex-basis: unset;
    }
}

@media (max-width: 1200px) {
    .multimenu-dropup-container .collapse.show {
        display: block !important;
    }
}

.multimenu-dropup-container .multimenu-dropup {
    width: auto;
}

@media (min-width: 768px) {

    .multimenu-dropup-container .container>.navbar-header,
    .multimenu-dropup-container .container-fluid>.navbar-header,
    .multimenu-dropup-container .container>.navbar-collapse,
    .multimenu-dropup-container .container-fluid>.navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }

    .multimenu-dropup-container .navbar-header {
        float: left;
    }
}